<div class="container mt-4">
  <div class="row">
    <h1>{{ product.name }}</h1>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div>
          <strong>Description</strong>
          <p>{{ product.description }}</p>
        </div>
        <div>
          <strong>Price</strong>
          <p>${{ product.price }}</p>
        </div>
      </div>

      <div class="card-footer">
        <button (click)="purchase(product.id)" class="btn btn-primary mr-1">
          Buy
        </button>
      </div>
    </div>
  </div>
</div>
